.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 50px;
}
.card {
  width: 170px;
  height: 250px;
  background: rgb(237, 242, 244);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card img {
  object-fit: cover;
}

.title {
  color: rgb(0, 0, 0);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 5%;
  text-align: left;
}
.pri {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.icons {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
